@import "~bootstrap/scss/bootstrap.scss";
body{
    background-image: url("https://images.pexels.com/photos/994883/pexels-photo-994883.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: 100vw;
}
.numberBox{
    font-size: 18rem;
    border-block-start-style: solid;
    width: 22rem;
    margin-top: 10rem
}
.btn{
    margin-top: 8rem;
    font-size: 4rem;
    padding: 1rem 4rem 1rem 4rem;
    color:#09261c;
    border-radius: 100px;
}
.numbers{
    filter: drop-shadow(9px 6px 10px rgba(68, 68, 68, 0.527))
}
